<div class="container">
	<div class="card">
		<div class="card-header">
			<!--<h3>AGREGAR UNIDADES</h3>
			<hr>-->
		</div>
		<div class="card-block">

			<fieldset>
            	<legend><h4>REGISTRAR NUEVOS PRODUCTOS</h4></legend>
					<div class="form-group col-md-2">
						<label style="padding-right: 10px;" for="nombre">Nombre del Producto: </label>
					</div>
					<div class="form-group col-md-8">
						<input class="form-control" [(ngModel)]="nombre_producto" 
						#input (input)="input.value=$event.target.value.toUpperCase()"
						(keypress)="omitir_caracteres_especiales($event)"
						type="text" style="width: 100%;"
						>
					</div>
					<div class="form-group col-md-2">
						<button class="btn btn-success" style="width: 100%;" [disabled]="!verificarCantidadLetras()"
						  (click)="btn_registrarProducto()"> Registrar 
						</button>
					</div>
			</fieldset>

		</div>
		<div class="card-block">
			<hr>
			<ng2-smart-table [settings]="settings" [source]="lista"></ng2-smart-table>
		</div>

	</div>

</div>








