<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SINCOVE</a>
    </div>

    <!-- Navbar Right -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- REGISTRO_PRODUCCION -->
        <li routerLinkActive="active"><a [routerLink]="['/reg-marcas']">M</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/reg-unidades']">U</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/reg-distribuidores']">D</a></li>
        <!-- PRODUCCION -->
        <li routerLinkActive="active"><a [routerLink]="['/prod-insumos']">Insumos</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/ingreso-almacen']">Ingreso Almacen</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/salida-almacen']">Salida Almacen</a></li>
        <!-- REGISTRO_VENTAS -->
        <li routerLinkActive="active"><a [routerLink]="['/reg-locales']">+L</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/reg-nombre-productos']">P</a></li>
        <!-- VENTAS -->
        <li routerLinkActive="active"><a [routerLink]="['/reg-productos-disponibles']">Productos Disponibles</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/registro-ventas']">Registro Ventas</a></li>
      </ul>
    </div>
  </div>
</nav>