<div class="container">
	<div class="card">
		<div class="card-header">
			<!--<h3>AGREGAR UNIDADES</h3>
			<hr>-->
		</div>
		<div class="card-block">

			<fieldset>
            	<legend><h4>REGISTRAR NUEVO INGRESO DE INSUMO AL ALMACEN</h4></legend>
					<div class="form-group col-md-2">
						<label style="padding-right: 10px;" for="id_local">id_distribuidor: </label>
					</div>
					<div class="form-group col-md-2">
						<label style="padding-right: 10px;" for="id_producto">id_insumo: </label>
					</div>
					<div class="form-group col-md-1">
						<label style="padding-right: 10px;" for="cantidad_comprada">c_comprada: </label>
					</div>
					<div class="form-group col-md-2">
						<label style="padding-right: 10px;" for="id_unidad">id_unidad: </label>
					</div>
					<div class="form-group col-md-1">
						<label style="padding-right: 10px;" for="precio_compra">p_compra: </label>
					</div>
					<div class="form-group col-md-2">
						<label style="padding-right: 10px;" for="fecha_entrada">f_entrada: </label>
					</div>
					<div class="form-group col-md-2">
						<label style="padding-right: 10px;" for="fecha_vencimiento">f_vencimiento: </label>
					</div>

					<div class="form-group col-md-2">
						<select [(ngModel)]="distribuidor" style="width: 100%; height: 34px;">
							<option *ngFor="let d of listaDeDistribuidores" [ngValue]="d"> {{d.nombre}}</option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<select [(ngModel)]="insumo" style="width: 100%; height: 34px;">
							<option *ngFor="let i of listaDeInsumos" [ngValue]="i"> {{i.nombre}}</option>
						</select>
					</div>
					<div class="form-group col-md-1">
						<input class="form-control" style="width: 100%;" [(ngModel)]="cantidad_comprada" type="number" min="0" max="5000" >
					</div>
					<div class="form-group col-md-2">
						<select [(ngModel)]="unidad" style="width: 100%; height: 34px;">
							<option *ngFor="let u of listaDeUnidades" [ngValue]="u"> {{u.nombre}}</option>
						</select>
					</div>
					<div class="form-group col-md-1">
						<input class="form-control" style="width: 100%;" [(ngModel)]="precio_compra" type="number" min="0" max="5000" >
					</div>
					<div class="form-group col-md-2">
						<form #myForm="ngForm" novalidate>
						    <my-date-picker name="mydateEntrada" [options]="fecha_entrada"
						    (dateChanged)="fecEntradaChanged($event)" 
						    [(ngModel)]="model_fecha_entrada" required></my-date-picker>
						</form>
					</div>
					<div class="form-group col-md-2">
						<form #myForm="ngForm" novalidate>
						    <my-date-picker name="mydateVencimiento" [options]="fecha_vencimiento"
						    (dateChanged)="fecVencimientoChanged($event)"
						    [(ngModel)]="model_fecha_vencimiento" required></my-date-picker>
						</form>
					</div>
					<div class="form-group col-md-12">
						<br>
						<label class="form-group col-md-10"></label>
						<button class="btn btn-success col-md-2" [disabled]="!verificarCantidadLetras()"
						  (click)="btn_registrarIngresoAlmacen()"> Registrar 
						</button>
					</div>
			</fieldset>

		</div>
		<div class="card-block">
			<hr>
			<ng2-smart-table [settings]="settings" [source]="lista"></ng2-smart-table>
		</div>

	</div>

</div>






